* {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
.window-menu li {
  display: inline;
  padding-left: 6px;
  padding-right: 6px;
  color: #1f1e1e;
}

.window-menu2 li {
  display: inline;
  padding-left: 6px;
  padding-right: 6px;
  color: #1f1e1e;
}

.search-balk {
  display: flex;
  margin-left: 10px;
  align-items: center;
  background-color: white;
  color: black;
  width: 90%;
  border: 2px solid rgb(133, 133, 133);
}

#toolbar {
  background: #c0c0c0;
  height: 35px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid #fff;
}

.toolbar-handle {
  flex: 0 0 auto;
  width: 10px;
  box-sizing: border-box;
  align-self: stretch;
  position: relative;
  touch-action: none;
}

.toolbar-start-menu {
  float: left;
}

#desktop {
  background: teal;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.start-button {
  background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png)
    no-repeat 2px center / 24px;
  padding-left: 28px;
  padding-right: 5px;
  height: 29px;
  margin: 2px 3px;
  font-weight: bold;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-left-color: #fff;
}

.effects:hover {
  background-color: #4a4d4b5e;
  color: white;
}

.effect2:hover {
  background-color: #7bffcc5e;
  color: white;
}

.toolbar-separator {
  width: 2px;
  height: 26px;
  margin-top: 2px;
  background: #797979;
  float: left;
  border-right: 1px solid #fff;
}

.toolbar-left {
  float: left;
  padding: 0 5px;
}

#screen {
  display: flex;
  flex-direction: column;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-bottom-color: #131313;
  border-left-color: #fff;
  background: #3c4ff7c9;
  color: white;
  width: 900px;
  position: fixed;
  top: 5%;
  left: 15%;
  resize: both;
  border-bottom: none;
  height: 500px;
}

#screen.big {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid black;
  position: fixed;
  top: 0!important;
  left: 0!important;
}

#screenbottom.big {
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-bottom-color: #131313;
  border-left-color: #fff;
  background: #c0c0c0;
  height: 100%;
  resize: both;
  border-bottom: none;
  left: 15%;
}

.windows-toolbottom {
  display: flex;
  flex-direction: column;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-bottom-color: #131313;
  border-left-color: #fff;
  background: #c0c0c0;
  height: 100%;
  resize: both;
  border-bottom: none;
  left: 15%;
}

.window-menu {
  border: 1px solid #7c7c7c;
  border-bottom-width: 1.5px;
}

.window-menu2 {
  height: 40px;
  border: 1px solid #7c7c7c;
  border-bottom-width: 1.5px;
}

.close {
  background: no-repeat center #ccc;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-left-color: #fff;
  height: 17px;
  width: 17px;
  float: right;
  margin-left: 2px;
  background-image: url(https://win98icons.alexmeub.com/images/close-icon.png);
}

.toggle_fullscreen {
  background: no-repeat center #ccc;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-left-color: #fff;
  height: 17px;
  width: 17px;
  float: right;
  margin-left: 2px;
  background-image: url("/images/size-icon.png");
}

/**website in website**/

.window-toolbar {
  height: 15px;
  align-items: center;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;

  padding: 3px 2px 3px 3px;
}

.vl {
  margin-top: 10px;
  border-top: 3px solid #72acf8;
  width: 650px;
}

.v2 {
  margin-top: 10px;
  border-top: 1.41px solid #000000;
  width: 650px;
}

.window-title {
  color: #fff;
  margin-right: 24px;
}

.title-bar-controls {
  align-items: center;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
}

.window-container {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  border: 2px solid #7c7c7c;
  background-color: #fff;
}

#browser-content {
  height: 100%;
}

#browser-content.big {
  height: calc(100vh - 100px);
}

.w-header {
  position: relative;
  width: 100%;
  height: 75px;
  background: linear-gradient(to left, #eef1f1 60%, #72acf8 120%);
}

.w-image {
  display: flex;
  align-items: center;
  position: absolute;
  width: 70%;
  height: 75px;
  border-top-right-radius: 15px;
  background: linear-gradient(to left, #eef1f1 60%, #72acf8 120%);
}

.w-nav-top {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 25px;
  background-color: #131313;
  align-items: center;
}

.w-nav-bar {
  margin-right: 10px;
}

.w-nav-bottom {
  display: flex;
  width: 400px;
  height: 40px;
}
.w-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15px;
  background-color: #72acf8;
}

.w-inner {
  display: block;
  width: 25%;
  height: 100%;
}

.about-me {
  height: 150px;
  display: flex;
  padding: 22px;
}

.w-inner2 {
  width: 75%;
  height: 100%;
  background-color: white;
}

.innerbox-header {
  height: 100px;
}

.innerbox {
  height: 225px;
}

.innerblock1 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 35%;
}

.innerblock2 {
  background-color: red;
  width: 100%;
  height: 65%;
}

.vertical-menu {
  background-color: rgb(255, 255, 255);
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  height: 700px;
}

.vertical-header {
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-left: 3px;
  color: white;
  width: 200px;
  height: 23px;
  background-color: #72acf8;
}

.inner-menu {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 18px;
  text-decoration: none;
}

.list-menu {
  padding-left: 13px;
  padding-top: 5px;
  font-size: 20px;
  width: 512px;
  color: #000000;
}

.inner-menu p{
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 6px; /* Add some padding */
}

.vertical-items {
  display: block;
  align-items: center;
  padding-left: 3px;
  color: rgb(223, 238, 255);
  width: 200px;
  height: 290px;
  background-color: #b7cbe4;
}

.web-list {
  width: 100%;
  height: 30px;
  background-color: gray;
}


.w-list {
  padding: 5px;
}

/**body**/

.w-body {
  display: flex;
  height: 100%;
  background-color: #797979;
}

/**icons**/

.toolbar-icon {
  background: no-repeat center / auto 20px;
  width: 25px;
  height: 25px;
  border: none;
  margin-top: 3px;
  margin: 3px 2px;
}

.ie {
  background-image: url(https://win98icons.alexmeub.com/icons/png/msie1-4.png);
}

.outlook {
  background-image: url(https://win98icons.alexmeub.com/icons/png/outlook_express-0.png);
}

.desktop {
  background-image: url(https://win98icons.alexmeub.com/icons/png/desktop-4.png);
}

.channels {
  background-image: url(https://win98icons.alexmeub.com/icons/png/channels-5.png);
}


.desktop-icons {
  width: 115px;
  height: 100px;
  padding-top: 55px;
  margin: 10px;
}

.desktop-icon {
  width: 115px;
  height: 50px;
  color: #fff;
  text-align: center;
  background: no-repeat center top;
  padding-top: 55px;
  margin: 10px;
}

.website-icon {
  width: 50px;
  height: 38px;
  color: rgb(0, 0, 0);
  text-align: center;
  background: no-repeat center top;
  padding-top: 47px;
  margin: 5px;
  margin-left: 23px;
}

.windows-logo {
  background-image: url(https://win98icons.alexmeub.com/icons/png/windows-0.png);
}

.computer-icon {
  background-image: url(https://win98icons.alexmeub.com/icons/png/computer_explorer-5.png);
}
.documents-icon {
  background-image: url(https://win98icons.alexmeub.com/icons/png/directory_open_file_mydocs-4.png);
}

.network-icon {
  background-image: url(https://win98icons.alexmeub.com/icons/png/network_cool_two_pcs-0.png);
}

.mineswiper {
  background-image: url(https://win98icons.alexmeub.com/icons/png/minesweeper-0.png);
}

.trash-icon {
  background-image: url(https://win98icons.alexmeub.com/icons/png/recycle_bin_empty-4.png);
}

.character{
  background-image: url(https://win98icons.alexmeub.com/icons/png/msagent-3.png);
}

.book{
  background-image: url(https://win98icons.alexmeub.com/icons/png/help_book_small-2.png);
}

.calender {
  background-image: url(https://win98icons.alexmeub.com/icons/png/calendar-2.png);
}

.games {
  background-image: url(https://win98icons.alexmeub.com/icons/png/game_freecell-1.png);
}

.developer {
  background-image: url(https://win98icons.alexmeub.com/icons/png/system_restore-4.png);
}